nav a{
  color: #FFF;
  font-size: 1.2rem;
  font-family: 'Roboto';
  padding:0 1.5rem;
  text-decoration: none;
}
@media screen and (max-width: 675px){
    nav{
      background-color: #FFF;
      height: 2rem;
      width: 2rem;
    }
    a{
      display: none;
    }
}
