.content{
  height: 100%;
  width: 100%;
}

.content a{
  color: #FFF;
  font-size: 2rem;
  text-decoration: none;
}

.content p{
  font-size: 1.5rem;
}

.content .content_img{
  padding: .5rem 0;
  width: 100%;
}

.content_img img{
  min-height: 20rem;
  width: 100%;
}

.content_img span{
  font-size: 1.3rem;
}


