<div class="center">
  <div class="flex">
    <div class="item_flex w70">
      <img [src]="img" alt="">
    </div><!-- item_flex -->
    <div class="item_flex w30">
      <h1 [textContent]="title"></h1>
      <p [textContent]="info"></p>
    </div><!-- item_flex -->
    <div class="item_flex w100">
      <article>
        <p [textContent]="descricaoUm">        </p>
        <p [textContent]="descricaoDois">        </p>
      </article>
    </div><!-- item_flex -->
  </div><!-- flex -->
  <a [routerLink]="['']"> << Retornar</a>
</div><!-- center -->
